* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}
.container {
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.button {
  padding-top: 50px;
  background-color: #4caf50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  border-radius: 10px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
}
